.flex-container > div{
    margin: 20px;
    min-height: 250px;
    max-height: 400px;
    min-width: 100px;
    max-width: 250px;
    border-style: double;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 
}

.game-card-back{
    background-color:black;
    text-align: center;
    font: 100px/220px Georgia, Times New Roman, serif;
}


.game-card-under-verification{
    background-color:white;
    text-align: center;
    font: 100px/220px Georgia, Times New Roman, serif;
}

.game-card-revealed{
    text-align: center;
    font: 100px/220px Georgia, Times New Roman, serif;
    opacity: 0.5
}