.game-card{
    width: 200px;
    height: 400px;
    margin: 20px;
    float:left;
    text-align: center;
    position: relative;
    border-style: double;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

.game-card-back{
    background-color: cornflowerblue;
}

.game-card-revealed{
    background-color: bisque;
}

.game-card h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}


